.App {
  text-align: center;
}
.search-container {
  display: flex; 
  align-items: center;
  justify-content: center;
}
.search-input {
  border: 1px solid #ccc;
  width: 300px;
  padding: .5rem;
}
.search-button {
  background-color: rgb(46, 122, 235);
  border: 1px solid rgb(46, 122, 235);
  color: #fff;
  padding: .6rem;
}